@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


* {
  
  box-sizing: border-box;
  
  
}

.card-body button{
  background-color:#ad5215;
  margin-top: 10%;
  text-align: center;
  margin-left: 40%;
}
.card-body button:hover{
  background-color: #c2713b ;
}
.card-body{
  width:60%;
 margin-left: 20%;
  margin-right: 10%;
  
}
.card-body h2{
  font-family: 'Oswald', sans-serif;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
h2{
  text-align: center;
}
.tags{
  font-weight: 700;
}