
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');



.raiseFund{
    
  width:1550px;
  margin-top: 80vh;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
   
   
}
.fund_btn{
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: black;
  border-color: black;
  width:20%;
  margin-left: 20%;
  
  }
  .fund_btn:hover {
    color: white;
    background-color:#1d3124;
    border-color: white;
  }



.raiseFund div.container{
 margin-top: 20%;
 margin-right: 35%;
 max-width: 700px;
 width: 100%;
 background-color: #bacec1;
 padding: 25px 30px;
 border-radius: 5px;
 box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
 font-size: 25px;
 font-weight: 500;
 position: relative;
}
.container .title::before{
 content: "";
 position: absolute;
 left: 0;
 bottom: 0;
 height: 3px;
 width: 30px;
 border-radius: 5px;
 background: linear-gradient(135deg, #71b7e6, #bacec1);
}
.content form .user-details{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin: 20px 0 12px 0;
}
form .user-details .input-box{
 margin-bottom: 15px;
 width: calc(100% / 2 - 20px);
}
form .input-box span.details{
 display: block;
 font-weight: 500;
 margin-bottom: 5px;
}
.user-details .input-box input{
 height: 45px;
 width: 100%;
 outline: none;
 font-size: 16px;
 border-radius: 5px;
 padding-left: 15px;
 border: 1px solid #ccc;
 border-bottom-width: 2px;
 transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
 border-color: #bacec1;
}
form .gender-details .gender-title{
 font-size: 20px;
 font-weight: 500;
}
form .category{
  display: flex;
  width: 80%;
  margin: 14px 0 ;
  justify-content: space-between;
}
form .category label{
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot{
 height: 18px;
 width: 18px;
 border-radius: 50%;
 margin-right: 10px;
 background: #d9d9d9;
 border: 5px solid transparent;
 transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
  background: #bacec1;
  border-color: #d9d9d9;
}
form input[type="radio"]{
  display: none;
}
form .button{
  height: 45px;
  /* margin: 35px 0 */
}
form .button input{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #bacec1;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #bacec1);
}
form .button input:hover{
 /* transform: scale(0.99); */
 background: linear-gradient(-135deg, #71b7e6, #bacec1);
 }
@media(max-width: 584px){
.container{
 max-width: 100%;
}
form .user-details .input-box{
   margin-bottom: 15px;
   width: 100%;
 }
 form .category{
   width: 100%;
 }
 .content form .user-details{
   max-height: 300px;
   overflow-y: scroll;
 }
 .user-details::-webkit-scrollbar{
   width: 5px;
 }
 }
 @media(max-width: 459px){
 .container .content .category{
   flex-direction: column;
 }
}

form div.fund_btn{
   cursor: pointer;
   outline: 0;
   display: inline-block;
   font-weight: 400;
   line-height: 1.5;
   text-align: center;
   background-color: transparent;
   border: 1px solid transparent;
   padding: 6px 12px;
   font-size: 1rem;
   border-radius: .25rem;
   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   color: black;
   border-color: black;
   
   width:20%;
   
   margin-top: 5%;
   
   }
   form div.fund_btn:hover {
     color: white;
     background-color:black;
     border-color: black;
   }
   h4{
    text-align: center;
   }
   .container h2{
    font-family: 'Oswald', sans-serif;
   }