
  .register .container {
    padding: 16px;
    background-color:rgb(72, 107, 72);
  width: 30vw;
  margin: auto;
  width: 60%;
  border: 3px solid #1D3124;
  padding: 10px;
  }
  
  
  .register input[type=text], input[type=number], input[type=date]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  .register input[type=text]:focus, input[type=number]:focus, input[type=date]:focus {
    background-color: #ddd;
    outline: none;
  }
  

  .register hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  

  .register .registerbtn {
    background-color: #1D3124;
    color: #f6f4e8;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .register .registerbtn:hover {
    opacity: 1;
  }
   
  
  .register  h1{
    text-align: center;
    margin-top: 0px;
}
